/* 다크모드 */
body {
    background-color: black;
}

/* 전체 컨테이너 */
.container-fluid {
    display: flex;
}

/* 상단 네비게이션 바 배경 항상 유지 */
.navbar {
    background-color : black;
}

/* 유튜브 로고 이미지 크기 */
.logo-image {
    height: 60px;
}

/* 내용물 가변형 배치 */
.container-fluid {
    display: flex;
}

/* 햄버거 버튼 옆 공간 */
.hamburger {
    padding-left: 2rem;
}

/* 아이콘과 글자 정렬 */
.material-icons {
    vertical-align: middle;
}

/* 흰색 아이콘 */
.btn, .nav-link {
    color: white;
}

/* 상단 검색창 */
.search-bar {
    flex: 1 1 0%;
    max-width: 50rem;
}

/* 상단 검색창 입력부 */
.search-bar-input, .search-bar-input:focus {
    background-color: #000;
    border-color: #6e6e6e;
    border-radius: 2rem;
    color: #bbb;
}

/* 상단 검색창 placeholder */
.search-bar-input::placeholder {
    color: #bbb;
}

/* 사이드바 */
.sidebar {
    position: fixed;
    width: 15%;
}

/* 사이드바 구분선 */
.sidebar hr {
    border-top: 0.1rem solid #666;
    opacity: 1;
}

/* 동영상 */
.main-content {
    width: 85%;
    margin-left: 15%;
}
