/* 다크모드 */
body {
    background-color: #0F0F0F;
    font-family: system-ui;
}

/* 전체 컨테이너 */
.container, .container-fluid {
    display: flex;
}

/* 상단 네비게이션 바 배경 항상 유지 */
.navbar {
    background-color : #0F0F0F;
}

/* 유튜브 로고 이미지 크기 */
.logo-image {
    height: 4rem;
}

/* 햄버거 버튼 옆 공간 */
.hamburger {
    padding-left: 2rem;
}

/* 아이콘과 글자 정렬 */
.material-icons {
    vertical-align: middle;
}

/* 흰색 아이콘 */
.btn, .nav-link, .video-info, .comments-section{
    color: white;
}

.nav-link {
    font-size: 1vw;
}

/* 상단 검색창 */
.search-bar {
    flex: 1 1 0%;
    max-width: 40rem;
}

/* 상단 검색창 입력부 */
.search-bar-input, .search-bar-input:focus {
    background-color: #0F0F0F;
    border-color: #6e6e6e;
    border-radius: 2rem;
    color: #bbb;
}

/* 상단 검색창 placeholder */
.search-bar-input::placeholder {
    color: #bbb;
}

/* 왼쪽 사이드바 */
.sidebar-left {
    position: fixed;
    width: 15%;
}

/* 왼쪽 사이드바 구분선 */
.sidebar-left hr {
    border-top: 0.05rem solid #666;
    opacity: 1;
}

/* 동영상 */
.main-content {
    width: 85%;
    margin-left: 15%;
}

.card {
    border: 0;
    margin-bottom: 1rem;
}




/* video.html */




/* 영상 */
.video-container {
    width: 70%;
    padding: 0.05rem;
}

/* 임베디드 영상 */
.video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-player iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 우측 사이드바 */
.sidebar-right {
    width: 30%;
    padding: 1.5rem;
    min-width: 25rem;
}

/* 사이드바 요소 */
.sidebar-right .card {
    margin-bottom: 1rem;
    border: 0;
}

.video-info {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #282828;
}

.video-info h1 {
    font-size: 1.5rem;
}

.channel-info p {
    margin: 0;
}

#video-description {
    margin: 1.5rem 0 0 0;
}

.comments-section {
    margin-top: 3rem;
}

.add-comment {
    display: flex;
    margin-bottom: 3rem;
}

.add-comment input, .add-comment input:focus {
    flex: 1;
    margin: 1rem 1rem 1rem 0;
    background-color: #222;
    border: 0;
    color: white;
}

.add-comment input::placeholder {
    color: #aaa;
}

#comments-list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 65rem) {
    .container {
        flex-direction: column;
    }

    .video-container, .sidebar-right {
        width: 100% !important;
        padding: 0.7rem;
    }
}
