body {
    background-color: white;
}

.card {
    border: none;
    height: 100%;
}

.card-img-top {
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.card-text {
    font-size: 0.875rem;
}

.navbar-brand img {
    height: 25px;
}

.material-icons {
    vertical-align: middle;
}

.sidebar {
    width: 900px;
}

.nav-link {
    color: black;
    align-items: center;
}
