body {
    background-color: #0F0F0F;
    font-family: system-ui;
}

.container, .container-fluid {
    display: flex;
}

/* 상단 네비게이션 바 배경 항상 유지 */
.navbar {
    background-color : #0F0F0F;
}

/* 유튜브 로고 이미지 크기 조절 */
.logo-image {
    height: 4rem;
}

.hamburger {
    padding-left: 1rem;
    transition: none;
}

.hamburger:hover, .hamburger:focus {
    color: white;
    background-color: #303030;
    border-radius: 10rem;
}

/* 아이콘과 글자 가운데 정렬 */
.material-icons {
    vertical-align: middle;
}

.btn, .nav-link, .video-info, .comments-section{
    color: white;
}

.text-blue {
    color: rgb(11, 151, 232);
    font-size: 0.8vw;
    text-decoration: none;
}

/* 반응형 좌측 사이드바 메뉴 크기 */
.nav-link {
    font-size: 1vw;
    transition: none;
}

.nav-link:hover, .nav-link:focus {
    color: white;
    background-color: #303030;
    border-radius: 1rem;
    transition: none;
}

.red-icons {
    color: red;
}

.sidebar-small-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5rem;
}

.small-link {
    color: #868686;
    font-size: 0.8vw;
    padding: 0;
    margin: 0 0 0 0.5rem;
    text-decoration: none;
}

.small-link:hover, .nav-link:focus {
    color: #6e6e6e;
    background-color: #0F0F0F;
}

.sidebar-copyright {
    color: #6e6e6e;
    font-size: 0.7vw;
    margin: 1rem;
}

.search-bar {
    flex: 1 1 0%;
    max-width: 40rem;
}

.nav-link .material-icons {
    margin-right: 1rem;
}

.nav-link .sidebar-left-bigtext {
    vertical-align: middle;
    font-size: 1.2vw;
}

.sidebar-left-text {
    color: white;
    vertical-align: middle;
    font-size: 1.2vw;
    margin: 0 0 1rem 1rem;
}

/* 상단 검색창 입력부 레이아웃 및 배경색 */
.search-bar-input, .search-bar-input:focus {
    background-color: #0F0F0F;
    border-color: #6e6e6e;
    border-radius: 2rem;
    color: #bbb;
}

/* 상단 검색창 placeholder 글자 색깔 */
.search-bar-input::placeholder {
    color: #bbb;
}

/* 상단 바 + 버튼 디자인 */
.add-btn {
    background-color: #303030;
    border-radius: 2rem;
    margin-right: 1rem;
}

.add-btn-text {
    vertical-align: middle;
}

/* 왼쪽 사이드바 화면에 고정되도록 설정 */
.sidebar-left {
    position: fixed;
    width: 15%;

    max-height: 85vh;
    overflow-y: auto;
    overscroll-behavior: contain;
}

/* 구분선 <hr> */
hr {
    border-top: 0.05rem solid #666;
    opacity: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* 메인 영역 - 사이드바 15% + 메인영역 85% */
.main-content {
    width: 85%;
    margin-left: 15%;
    padding: 1rem;
}

.category-btn {
    background-color: #303030;
    border-radius: 0.5rem;
    display: inline-flex;
    margin: 0 1rem 1rem 0;
}

.category-btn:hover, .category-btn:focus {
    color: white;
}

.card {
    border: 0;
    margin-bottom: 1rem;
}

/* 카드 호버 효과 */
.video-link {
    transition: transform 0.5s;
}

.video-link:hover, .video-link:focus {
    transform: scale(1.08);
}

/* 비디오 카드 관련 */
.video-meta-img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.video-meta-text {
    color: #6e6e6e;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

.video-meta-text-name {
    color: white;
    font-size: 1rem;
}

.video-meta-text p {
    margin: 0;
}

.video-meta-text-name {
    margin-bottom: 0.5rem !important;
}

/* 내 계정정보 드롭다운 */
.account-menu {
    position: absolute;
    right: 1rem;
    top: 120%;
    background: #3d3d3d;
    border-radius: 1rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    
    /* 내부 스크롤 */
    max-height: 85vh;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.account-menu .dropdown-item {
    color: #fff;
    text-align: left;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
}

.account-menu .dropdown-item:hover {
    background: #333;
}

/* 내 계정정보 드롭다운 - 로그인 유저 정보 */

.user-profile {
    color: white;
    text-align: left;
}

.profile-flex {
    display: flex;
    gap: 1rem;
}

.profile-icon {
    font-size: 3rem;
    margin-left: 1rem;
}

.profile-channel-link-row {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.profile-channel-link {
    color: #419ef0;
    text-decoration: none;
}

.video-meta {
    display: flex;
}

/* ------------------------------ */
/* --------- video.html --------- */
/* ------------------------------ */

/* 영상 */
.video-container {
    width: 70%;
    padding: 0.05rem;
}

/* 임베디드 영상 */
.video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-player iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 우측 사이드바 */
.sidebar-right {
    width: 30%;
    padding: 1.5rem;
    min-width: 25rem;
}

/* 사이드바 요소 */
.sidebar-right .card {
    margin-bottom: 1rem;
    border: 0;
}

.video-info {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #282828;
}

.video-info h1 {
    font-size: 1.5rem;
}

.channel-info p {
    margin: 0;
}

#video-description {
    margin: 1.5rem 0 0 0;
}

.comments-section {
    margin-top: 3rem;
}

.add-comment {
    display: flex;
    margin-bottom: 3rem;
}

.add-comment input, .add-comment input:focus {
    flex: 1;
    margin: 1rem 1rem 1rem 0;
    background-color: #222;
    border: 0;
    color: white;
}

.add-comment input::placeholder {
    color: #aaa;
}

#comments-list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 65rem) {
    .container {
        flex-direction: column;
    }

    .video-container, .sidebar-right {
        width: 100%;
        padding: 0.7rem;
    }
}

/* 구독 화면 */

.subscribe {
    display: flex;
}

.subscribe-text {
    color: white;
}

.subscribe-btn {
    display: flex;
    margin-left: auto;
}

.subscribe-btn-manage {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
}

.subscribe-btn-manage:hover, .subscribe-btn-manage:focus {
    background-color: #4e87a848;
    border-radius: 2rem;
}

.subscribe-btn-board:hover, .subscribe-btn-list:hover {
    background-color: #303030;
    border-radius: 10rem;
    color: white;
}
